/****TOOLTIP****/
/*Visibilité*/
.hidden{
    display: none;
}

.show{
    display: block;
}

.invisible{
    opacity: 0;
}

.visible{
    opacity: 1;
}

.not-a-link{
    color: white;
}
.not-a-link:hover{
    color: white;
    text-decoration: none;
}
.not-a-link:visited{
    color: white;
    text-decoration: none;

}

/*Position*/
.centered-text{
    text-align: center;
}


/*Width*/
.width-100 {
    width: 100%;
}

.width-75 {
    width: 75%;
}

.width-50 {
    width: 50%;
}

.width-25 {
    width: 25%;
}

/*Height*/
.height-100 {
    height: 100%;
}

/*Padding*/
.padding-standard-left{
    padding-left: 1rem;
}

/*Style*/
.font-bold{
    font-weight: bold;
}

.font-red{
    color: red;
}

/****CLASSES****/
/*Custom Classes*/
.head-footer-content {
    width: 100%;
    height: 2rem;
    font-size: 110%;
    color: white;
    text-align: center;
    background-color: black;
}

.head-footer-content img{
    width: auto;
}

.working-site{
    font-weight: bold;
    background-color: orangered!important;
}

.alert-picto{
    height: 95%;
    background-color: white;
    border-radius: 100%;
    margin: 0 0.5rem;
}

.main-content {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.85);
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem;
    border-left: 2px grey solid;
    border-right: 2px grey solid;
}

.recipe-block{
    position: relative;
    width: 15rem;
    border: 1px black solid;
    overflow: hidden;
    margin: auto;
    cursor:pointer;
}

.recipe-block:hover{
    opacity:0.8;
}

.recipe-block-title{
    position: absolute;
    text-align: center;
    background-color: white;
    opacity: 0.8;
    bottom: 0;
    left: 0;
    right: 0;
}

#recipeSelection{
    display:none;
}

#requestSelection{
    display:none;
}

.clickableMenu{
    width: 5rem;
    cursor:pointer;
}
.clickableMenu:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.admin-header .clickableMenu{
    width: auto;
    padding: 0 0.2rem;
}

.ingredient-list-item{
    width: 50%;
    margin-left: 1rem;
}

.step-list-item{
    width: 100%;
    margin: 1rem;
}

.recipeShot{
    width : 50%;
    margin: 2rem auto;
    border: 1px grey solid;
    border-radius: 3px;
}

.admin-form-container{
    padding: 1rem;
    width: 50%;
    height: 50%;
    margin: 1rem auto;
    background-color: rgba(255, 255, 255, 0.85);
}
.admin-form{
    width: 75%;
    height: 75%;
    margin: 1rem auto;
}

.admin-page{
    width: 75%;
    margin: auto;
}

.admin-page input{
    height: 100%;
}

.admin-ul{
    width: 75%;
    margin: auto;
}

.admin-li{
    background-color: lightgrey;
    height: 2rem;
    padding: 0.2rem;
}

.btn-modify{
    margin: 0;
    padding: 0;
}

/*Targeted Classes*/
body {
    background-image: url("../Ressources/home-bg.jpeg");
    background-position: top;
    background-attachment: fixed;
    background-size: 100%;
    margin: 0;
}

h1{
    text-align:center;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

img {
    height: 100%;
    width: 100%;
}

input{
    padding: 0.2rem;
    border-radius: 3px;
    box-shadow: none;
    border: 1px lightgrey solid;
    margin: 0.2rem 0;
}
