/*BASIC CUSTOM CLASSES*/
/*WIDTH*/
.width-100{
  width: 100%;
}

.width-75{
  width: 75%;
}

.width-50{
  width: 50%;
}

.width-40{
  width: 40%;
}

.width-25{
  width: 25%;
}

/*POSITION*/
.centered-text{
  text-align: center;
}

.centered-element{
  margin: auto;
}

/*MARGIN & PADDING*/
.margin-standard-V{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.padding-standard-H{
  padding-left: 1rem;
  padding-right: 1rem;
}

/*CUSTOM CLASSES*/
.content-column{
  position: relative;
  width: 60%;
  height: 100%;
  margin: auto;
  padding-bottom: 1rem;
  background-color: grey;
  border-right: 1px white solid;
  border-left: 1px white solid;
  color: white;
}

.special-h2{
  font-size: 130%;
  text-align: center;
  font-weight: bold;
  width: 100%;
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
}

.logo-size:hover{
  opacity: 0.7;
}

.title-headband{
  text-align: center;
  background-color: black;
  padding: 1rem 0;
}

.btn-link{
  background-color: #e4e4e4;
}
.btn-link:hover{
  background-color: white;
}
.btn-link:active{
  background-color: #717171;
  color: white;
}

.unactive{
  color: lightgrey;
  background-color: grey;
  cursor: not-allowed!important;
  margin: 0.5em 0.2rem;
}

.btn-link{
  color: blue;
  background-color: lightgrey;
  margin: 0.5em 0.2rem;
}

/*BACKGROUND COLOR*/
.bg-black{
  background-color: black;
}

/*TARGETED CLASSES*/
body{
  background-color: #4e4e4e;
  background-image: url("./Ressources/background.png");
  background-image: url("../Ressources/background.png");
  background-position: bottom;
  background-size: 20%;
  background-attachment: fixed;
}

a:hover{
  cursor: pointer;
}

.surhead{
  background-color: lightgrey;
}

nav{
  background-color: #525252;
  padding: 0 0 0.5rem 0;
  border-top: 1px grey solid;
}

header{
  background-color: #ff6060;
  width: 100%;
  padding: 1rem 0;
}

header p{
  margin-bottom: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}


h1{
  font-size: 130%;
  text-align: center;
  font-weight: bold;
  width: 100%;
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
}

h2{
  font-size: 110%;
  font-weight: bold;
  border-bottom: 1px black solid;
  margin-left: 1rem;
  margin-right: 1rem;
}

h3{
  font-size: 110%;
  width: 100%;
  padding-left: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

article{
  width: 100%;
}

section{
  width: 100%;
}

section p{
  padding-left: 1rem;
  padding-right: 1rem;
}

address, pre{
  margin-left: 1rem;
  margin-right: 1rem;
}

address p{
  line-height: 0.5rem;
}

address{
  margin: 3rem 0;
}


footer{
  margin: auto auto 0 auto;
  text-align: center;
  width: 100%;
  background-color: #ff6060;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
  body{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .content-column{
    width: 100%;
    opacity : 0.85;
  }
}

@media screen and (max-width: 576px) {

}
